.mb {
  font-size: 2em;
   text-align: center;
  font-weight: bold;
  position: relative;
  bottom:10%;
  right: 11%
}

.pass {
  width: 100%;
  background-color: aliceblue;

  border: none;
  outline: none;
  margin-top: 15px;
}
.mail {
  /* width: 100%; */
  background-color: aliceblue;

  border: none;
  outline: none;
  margin-top: 15px;
}
.login {
  width: 100%;
  border-radius: 30px;
  padding: 14px 36px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: #20b883;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 24px;
  position: relative;
  bottom: 5%;
}
.login:hover {
  color: #fff !important;
  text-decoration: none;
}
.containerl {
  background-color: aliceblue;
  box-shadow: 1px 1px #f0eaea;
  height: 400px;
  justify-content: center;
 width: 23%;
  border-radius: 20px;
margin-top: 70px;

}

.container {
 padding-top: 25px;
}
