/* body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.pass{
width: 60%;
 background-color: aliceblue;

  border: none;
  outline: none;
  margin-top: 15px;
}
.mail{
  width: 60%;
  background-color: aliceblue;

   border: none;
   outline: none;
   margin-top: 15px;
}
.login{
  width: 60%;
  border-radius: 30px;
  padding: 14px 36px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: #20b883;
  color:aliceblue;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 15px;
  text-decoration: none;
}
.login:hover {
  color: #fff !important;
  text-decoration: none;
  }
.container-l{
  background-color:aliceblue;
  box-shadow: 1px 1px #f0eaea;
  height: 300px;
  justify-content: center;
max-width: 40%;
border-radius: 20px;
translate: 210px;
}

.container{
  margin-left: 150px;
 
}
.checkbox{
  margin-left: 80px;
  padding: 20px;
  color: black;
}
input{
  margin-right: 20px;
}

element.style {
}
.Homepage_MainHeading__3eRiM {
    margin: 0;
}

h1 {
   margin-left: 100px;
   margin-top: 50px;
    font-weight: bold;
    color: black;
}
h5,h6{
  margin-left: 100px;
  margin-top: 20px;
  color: black;
} */
